<!-- <nav class="nav-wrapper blue">
  <div class="container">
    <div class="row">
      <div class="col s3">
          <a href="/" class="brand-logo">Lección</a>
      </div>
      <div class="col s2">
          <a href="/empleados" class="">Empleado</a>
      </div>
      <div class="col s2">
          <a href="/nominas" class="">Nómina</a>
      </div>
      <div class="col s2">
          <a href="/vacaciones" class="">Vacación</a>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet> -->


 
<nav>
    <div class="nav-wrapper purple darken-4">
      <a href="#" class="brand-logo  ">Leccion Angular</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="empleados">Employees</a></li>
        <li><a href="vacaciones">Vacations</a></li>
        <li><a href="nominas">Payroll</a></li>
      </ul>
    </div> 



    
   </nav> 
    

<!-- <app-employee></app-employee>   -->
<router-outlet></router-outlet>